<html>
<head>
	<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.8/angular.js'></script>
	<script type="text/javascript" src='/javascripts/angular/app.js'></script>
	<script type="text/javascript" src='/javascripts/angular/controllers/tasks.js'></script>
	<script type="text/javascript" src='/javascripts/angular/models/tasks_factory.js'></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<p>name: <%= data.name %></p>
	<p>category: <%= data.category %></p>
</body>
</html>